<form [formGroup]="binForm" (ngSubmit)="save()" class="container mt-5 login-form">
    <div class="form-group">
        <h3>Create Code Snippet</h3>
        <label for="title">Title:</label>
        <input type="text" title="Title" id="title" formControlName="title" class="form-control">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
            <div *ngIf="title.errors?.['required']">Title is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="code">Code Snippet:</label>
        <textarea placeholder="Code Snippet Here" id="code" formControlName="code" class="form-control"> </textarea>
        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger">
            <div *ngIf="code.errors?.['required']">Code snippet is required.</div>
            <div *ngIf="code.errors?.['minlength']">Code snippet must be at least 9 characters long.</div>
        </div>
    </div>

    <div class="button-row">
        <button type="submit" [disabled]="binForm.invalid" class="btn btn-success btn-lg">Save</button>
        <button type="button" class="btn btn-warning btn-lg" (click)="resetForm()">Reset</button>
    </div>
</form>
