/* styles.css or app.component.css */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f77a41;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  