.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-container {
    text-align: center;
  }
  
  .error-container img {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .error-container h1 {
    font-size: 36px;
    color: #333;
  }
  
  .error-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  